@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .bg-radial-gradient {
    background-image: radial-gradient(circle, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  }
  .bg-about-gradient {
    background-image: linear-gradient(to right top, #d16ba5, #ca75bb, #bf7fcf, #af8be1, #9a97f0, #7ca6fb, #5cb4ff, #3cc0ff, #18d0ff, #10e0ff, #38eef9, #5ffbf1);
  }
  .bg-contact-gradient {
    background-image: linear-gradient(to left bottom, #e06bad, #dc62b6, #d55ac0, #cb54cb, #bd51d8, #966def, #6482fb, #0092ff, #00adff, #00bfdf, #00c992, #1ccb2c);
  }
}